<div class="wrapper">
  <nav id="sidebar" class="sidebar" style="background: b0b0b0 !important">
    <a class="sidebar-brand" [routerLink]="['/dashboard']">
      <svg>
        <use xlink:href="#ion-ios-pulse-strong"></use>
      </svg>
      E-Sales
    </a>
    <div class="sidebar-content">
      <div class="sidebar-user">
        <img
          src="../../../assets//images/esales.png"
          class="img-fluid rounded-circle mb-2"
          style="width: 160px; height: 120px"
          alt="Logo"
        />
        <div class="font-weight-bold">E-Sales Tracker</div>
        <small>Sales and products best information system and tracker </small>
      </div>

      <ul class="sidebar-nav">
        <li class="sidebar-item" routerLinkActive="sidebar-item active">
          <a class="sidebar-link" [routerLink]="['/dashboard']">
            <i class="align-middle mr-2 fas fa-fw fa-home"></i>
            <span class="align-middle">Dashboard</span>
          </a>
        </li>

        <li class="sidebar-item" routerLinkActive="sidebar-item active">
          <a class="sidebar-link" [routerLink]="['/products']">
            <i class="align-middle mr-2 fas fa-box-open"></i>
            <span class="align-middle">Products</span>
          </a>
        </li>
        <li class="sidebar-item" routerLinkActive="sidebar-item active">
          <a class="sidebar-link" [routerLink]="['/clients']">
            <i class="align-middle mr-2 fas fa-user-check"></i>
            <span class="align-middle">Clients</span>
          </a>
        </li>
        <li
          class="sidebar-item"
          routerLinkActive="sidebar-item active"
          *ngIf="loggedInUser && loggedInUser.role === 'admin'"
        >
          <a class="sidebar-link" [routerLink]="['/users']">
            <i class="align-middle mr-2 fas fa-user"></i>
            <span class="align-middle">Users</span>
          </a>
        </li>
        <li class="sidebar-item" routerLinkActive="sidebar-item active">
          <a class="sidebar-link" [routerLink]="['/sales']">
            <i class="align-middle mr-2 fas fa-wallet"></i>
            <span class="align-middle">Sales</span>
          </a>
        </li>
        <li class="sidebar-header">_____________________________</li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="logout()">
            <i class="align-middle mr-2 fas fa-power-off"></i>
            <span class="align-middle">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
