<div class="wrapper">
  <app-sidebar style="background: white !important"></app-sidebar>
  <div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="header">
          <h1 class="header-title">E-Sales Sales List</h1>
          <p class="header-subtitle">
            List of the sales that clients have ordered
          </p>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a>Sales</a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="row">
          <div class="col-12 col-xl-12">
            <div
              *ngIf="error"
              class="alert alert-danger alert-dismissable"
              role="alert"
            >
              <div class="alert-message">{{ error }}</div>
            </div>
            <div
              *ngIf="success"
              class="alert alert-info alert-dismissable"
              role="alert"
            >
              <div class="alert-message">{{ success }}</div>
            </div>
          </div>
          <div class="col-12 col-xl-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">List of Sales</h5>
                <div class="row">
                  <div class="col-lg-6">
                    <a [routerLink]="['/sale/register']" class="btn btn-primary"
                      >Register Sale</a
                    >
                  </div>
                </div>
              </div>
              <table class="table table-striped table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th>Client Name</th>
                    <th>Date of Order</th>
                    <th>Seller Name</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody
                  *ngFor="
                    let item of sales
                      | paginate: { itemsPerPage: 5, currentPage: p };
                    let idx = index
                  "
                >
                  <td>{{ item.client.name }}</td>
                  <td>{{ item.date | date: "MMM d, y, h:mm:ss a" }}</td>
                  <td>{{ item.user.name }} {{ item.user.lastName }}</td>
                  <td>
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn mb-1 btn-secondary dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="fas fa-cog"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a
                          class="dropdown-item"
                          [routerLink]="['/sale/', item._id]"
                          >View Sale Details</a
                        >
                      </div>
                    </div>
                  </td>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 col-xl-12">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
