<div class="wrapper">
  <app-sidebar style="background: white !important"></app-sidebar>
  <div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="header">
          <h1 class="header-title">Registration of Clients</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/clients']">Clients</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a>Register Client</a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="row">
          <div class="col-12 col-xl-12">
            <div
              *ngIf="error"
              class="alert alert-danger alert-dismissable"
              role="alert"
            >
              <div class="alert-message">{{ error }}</div>
            </div>
            <div
              *ngIf="success"
              class="alert alert-info alert-dismissable"
              role="alert"
            >
              <div class="alert-message">{{ success }}</div>
            </div>
          </div>
          <div class="col-12 col-xl-12">
            <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Enter the new client information</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Client Name</b></label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Client name and last name"
                          #name="ngModel"
                          name="name"
                          [(ngModel)]="client.name"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Client Email</b></label>
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Client personal/enterprise email"
                          #email="ngModel"
                          name="email"
                          [(ngModel)]="client.email"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Client Document</b></label>
                        <input
                          type="text"
                          class="form-control"
                          #document="ngModel"
                          placeholder="Client unique document/id"
                          name="document"
                          [(ngModel)]="client.document"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-success" type="submit">
                    Register Client
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
